<h2>Soldiers List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>SSN</th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.name }}</td>
      <td>{{ employee.age }}</td>
      <td>{{ employee.ssn }}</td>
      <td>
        <button (click) = "updateEmployee(employee.id)" class = "btn btn-info"> Update</button>
        <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
        
    </td>

    </tr>
  </tbody>
</table>
